body{
	padding-top: 53px;
}
.brand img{
	max-width: 100%;
	max-height: 100%;
}
.app-bar{
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	justify-content: space-around;
}
.container{
	padding-top: 20px;
}
/*figure img{
	max-height: 22rem;
}
figure figcaption{
	padding-top: 0.8rem;
}*/
.cell-xxl-quarter img{
	height: 127.05px;
}